@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    background-color: white;
}

.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-text{
    display: flex;
    align-items: center;
}

.l-text{
    font-size: 50px;
    font-weight: 800;   
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 500px;
    list-style: none;
    font-size: 30px;
}

ul.shows{
    display: block;
}

nav ul li{
    text-decoration: none;
}

.hero h1{
    font-size: 90px;
    margin:0;
}
a{
    text-decoration: none;
    color: white;
}

.hero p{
    font-weight: 300;
    font-size: 30px;
    margin:0;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;

}

.button{
    width: 200px;
    height: 55px;
    font-size: 30px;
    font-weight: 300;
    border-radius: 30px;
    text-align: center;
    padding-top: 5px;
    background-color: coral;
    margin-top: 20px;
}

.button:hover{
    background-color: #ef744b;
}

.button:active{
    background-color: #A9A9A9;
    color: #808080;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.socials{
    padding-bottom: 200px;
}

.logo{
    height:80px;
    margin: 30px;
}

.social{
    margin: 10px;
}

.aboutme-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
    font-size: 20px;
}

.aboutme-section h2{
    font-size: 50px;
}

.pic-container{
    display: flex;
    align-items: center;
    height: 300px;
}

.anya-pic{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-top: 100px;
}

.prog-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 80px 80px 80px;

}
.prog-container h1{
    font-size: 50px;
}

.holder{
    width: 300px;
    height: 500px;
    margin: 10px;
    box-shadow: 5px 5px 20px grey;
}

.card-container{
    display: flex;
    justify-content: space-around;
}

.proj-image{
    width: 250px;
    height: 250px;
    margin-top: 30px;
    border-radius: 125px;
    
}

h3{
    font-size: 17;
    font-weight: 300px;
}


footer{
    background-color: black;
    padding: 50px;
    color:white;
    text-align: center;
}

.holder{
    padding: 10px;
}

.holder a{
    text-decoration: none;
    color:#75260c
}

.hamburger{
    display: none;
}



@media only screen and (max-width: 1000px){
    .card-container{
        display: flex;
        flex-wrap:wrap;
    }
    .hamburger{
        display: block;
        border: 0;
        color:white;
        background-color: transparent;
        font-size: 30px;
        align-self: flex-end;
    }

    nav ul{
        display: none;
    }

    .logo-text{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: column-reverse ;
        background-color: #333548;
        text-align: center;
    }
}


